In [1]:
import numpy as np
import pandas as pd
import yfinance
from collections import defaultdict

In [26]:
df = pd.read_csv('2023_period1.csv')
stock_priceshistory = pd.read_csv('daily_stock_prices.csv')
tickers  = df['Symbol']
current_prices = {ticker: 0 for ticker in tickers}
portfolio_one_prices = {ticker: 0 for ticker in tickers}

In [41]:
import yfinance as yf
from datetime import datetime
import pandas as pd

def initialize_structure_current(structure):

    for stock in structure:
        try:
            # # Download the stock price data for the given starting_date
            st = yf.Ticker(stock)
            
            c_price = st.info['currentPrice']

            # Update the structure with the starting price and current price
            # structure[stock][0] = starting_price
            structure[stock] = c_price
        
        # except yf.YFPricesMissingError:
        #     print(f"Error: {stock} possibly delisted; no price data found for the given date.")
        #     structure[stock] = [None, None]  # Handle missing data by setting prices to None
        
        except Exception as e:
            print(f"Error fetching data for {stock}: {e}")
            structure[stock] = [None, None]  # Handle generic exceptions

    return structure

def initialize_portfolio_one(structure, df):
# date should be for jan 03 2023
    for stock_ticker in structure:
        try:
            # # Download the stock price data for the given starting_date
           

            c_price = df.loc[df['Symbol'] == stock_ticker, '2023-01-03']
            # print(c_price)

            # Update the structure with the starting price and current price
            # structure[stock][0] = starting_price
            structure[stock_ticker] = c_price
        
        # except yf.YFPricesMissingError:
        #     print(f"Error: {stock} possibly delisted; no price data found for the given date.")
        #     structure[stock] = [None, None]  # Handle missing data by setting prices to None
        
        except Exception as e:
            print(f"Error fetching data for {stock_ticker}: {e}")
            structure[stock_ticker] = -999  # Handle generic exceptions

    return structure

SyntaxError: expected 'except' or 'finally' block (1062414411.py, line 19)

In [31]:
# initialize_structure_current(current_prices)
initialize_portfolio_one(portfolio_one_prices,stock_priceshistory )

{'WFC': 2    39.705818
 Name: 2023-01-03, dtype: float64,
 'QCOM': 3    103.454712
 Name: 2023-01-03, dtype: float64,
 'TXN': 4    154.873688
 Name: 2023-01-03, dtype: float64,
 'GE': 5    52.601925
 Name: 2023-01-03, dtype: float64,
 'IBM': 6    131.173401
 Name: 2023-01-03, dtype: float64,
 'AXP': 7    143.634781
 Name: 2023-01-03, dtype: float64,
 'BX': 11    72.04792
 Name: 2023-01-03, dtype: float64,
 'ISRG': 12    265.630005
 Name: 2023-01-03, dtype: float64,
 'NOW': 13    385.5
 Name: 2023-01-03, dtype: float64,
 'MS': 15    80.252151
 Name: 2023-01-03, dtype: float64,
 'NEE': 16    80.268585
 Name: 2023-01-03, dtype: float64,
 'AMAT': 17    95.322716
 Name: 2023-01-03, dtype: float64,
 'GS': 18    331.218262
 Name: 2023-01-03, dtype: float64,
 'SPGI': 19    329.969421
 Name: 2023-01-03, dtype: float64,
 'UBER': 21    25.360001
 Name: 2023-01-03, dtype: float64,
 'SYK': 26    242.287888
 Name: 2023-01-03, dtype: float64,
 'LMT': 28    458.446869
 Name: 2023-01-03, dtype: float64,
 'COP': 31    106.875374
 Name: 2023-01-03, dtype: float64,
 'MDT': 36    74.417946
 Name: 2023-01-03, dtype: float64,
 'PANW': 37    138.449997
 Name: 2023-01-03, dtype: float64,
 'CB': 38    215.600555
 Name: 2023-01-03, dtype: float64,
 'ADP': 39    229.719666
 Name: 2023-01-03, dtype: float64,
 'ANET': 42    120.910004
 Name: 2023-01-03, dtype: float64,
 'KKR': 43    45.932816
 Name: 2023-01-03, dtype: float64,
 'LRCX': 44    407.669189
 Name: 2023-01-03, dtype: float64,
 'DE': 46    415.471558
 Name: 2023-01-03, dtype: float64,
 'CI': 47    313.109009
 Name: 2023-01-03, dtype: float64,
 'FI': 48    101.209999
 Name: 2023-01-03, dtype: float64,
 'MDLZ': 50    63.955997
 Name: 2023-01-03, dtype: float64,
 'SO': 51    67.170776
 Name: 2023-01-03, dtype: float64,
 'ICE': 52    100.989799
 Name: 2023-01-03, dtype: float64,
 'CL': 55    75.84893
 Name: 2023-01-03, dtype: float64,
 'WM': 56    153.165894
 Name: 2023-01-03, dtype: float64,
 'ZTS': 58    144.43689
 Name: 2023-01-03, dtype: float64,
 'APH': 59    37.684574
 Name: 2023-01-03, dtype: float64,
 'CMG': 62    27.4226
 Name: 2023-01-03, dtype: float64,
 'CME': 63    159.367584
 Name: 2023-01-03, dtype: float64,
 'AON': 65    295.24118
 Name: 2023-01-03, dtype: float64,
 'PYPL': 68    74.580002
 Name: 2023-01-03, dtype: float64,
 'CVS': 71    87.352417
 Name: 2023-01-03, dtype: float64,
 'MMM': 72    93.823418
 Name: 2023-01-03, dtype: float64,
 'USB': 74    41.284866
 Name: 2023-01-03, dtype: float64,
 'PNC': 75    147.787491
 Name: 2023-01-03, dtype: float64,
 'WDAY': 76    169.350006
 Name: 2023-01-03, dtype: float64,
 'ECL': 77    144.714844
 Name: 2023-01-03, dtype: float64,
 'PLTR': 79    6.39
 Name: 2023-01-03, dtype: float64,
 'CSX': 81    30.23954
 Name: 2023-01-03, dtype: float64,
 'CRWD': 82    103.279999
 Name: 2023-01-03, dtype: float64,
 'APO': 85    60.671009
 Name: 2023-01-03, dtype: float64,
 'CARR': 86    40.716259
 Name: 2023-01-03, dtype: float64,
 'SLB': 88    49.919865
 Name: 2023-01-03, dtype: float64,
 'APD': 90    294.860992
 Name: 2023-01-03, dtype: float64,
 'CEG': 91    80.492378
 Name: 2023-01-03, dtype: float64,
 'DHI': 92    89.327873
 Name: 2023-01-03, dtype: float64,
 'AFL': 93    68.776375
 Name: 2023-01-03, dtype: float64,
 'FTNT': 95    48.52
 Name: 2023-01-03, dtype: float64,
 'MPC': 97    106.824226
 Name: 2023-01-03, dtype: float64,
 'PSX': 98    94.873512
 Name: 2023-01-03, dtype: float64,
 'NSC': 99    237.455338
 Name: 2023-01-03, dtype: float64,
 'GM': 101    33.274818
 Name: 2023-01-03, dtype: float64,
 'SPG': 104    107.590286
 Name: 2023-01-03, dtype: float64,
 'COF': 105    89.679634
 Name: 2023-01-03, dtype: float64,
 'MET': 107    68.125816
 Name: 2023-01-03, dtype: float64,
 'AEP': 108    88.443298
 Name: 2023-01-03, dtype: float64,
 'TRV': 113    181.198395
 Name: 2023-01-03, dtype: float64,
 'TTD': 114    44.02
 Name: 2023-01-03, dtype: float64,
 'CPRT': 115    30.73
 Name: 2023-01-03, dtype: float64,
 'BK': 116    43.676281
 Name: 2023-01-03, dtype: float64,
 'LEN': 117    89.842537
 Name: 2023-01-03, dtype: float64,
 'PCAR': 118    62.115177
 Name: 2023-01-03, dtype: float64,
 'KDP': 119    34.001141
 Name: 2023-01-03, dtype: float64,
 'ALL': 122    131.126312
 Name: 2023-01-03, dtype: float64,
 'AIG': 124    60.785336
 Name: 2023-01-03, dtype: float64,
 'KMI': 125    16.129732
 Name: 2023-01-03, dtype: float64,
 'D': 127    58.121979
 Name: 2023-01-03, dtype: float64,
 'PAYX': 128    109.791054
 Name: 2023-01-03, dtype: float64,
 'TEL': 130    111.173706
 Name: 2023-01-03, dtype: float64,
 'IQV': 133    203.860001
 Name: 2023-01-03, dtype: float64,
 'F': 134    10.012942
 Name: 2023-01-03, dtype: float64,
 'MPLX': 136    27.927557
 Name: 2023-01-03, dtype: float64,
 'RCL': 138    48.709999
 Name: 2023-01-03, dtype: float64,
 'HES': 139    132.096786
 Name: 2023-01-03, dtype: float64,
 'FERG': 140    125.130264
 Name: 2023-01-03, dtype: float64,
 'HUM': 141    494.244659
 Name: 2023-01-03, dtype: float64,
 'PRU': 142    91.073837
 Name: 2023-01-03, dtype: float64,
 'KVUE': 143   NaN
 Name: 2023-01-03, dtype: float64,
 'EW': 145    74.269997
 Name: 2023-01-03, dtype: float64,
 'ACGL': 146    62.459999
 Name: 2023-01-03, dtype: float64,
 'ODFL': 147    140.270172
 Name: 2023-01-03, dtype: float64,
 'CNC': 148    79.739998
 Name: 2023-01-03, dtype: float64,
 'CPNG': 151    14.92
 Name: 2023-01-03, dtype: float64,
 'HWM': 155    38.823471
 Name: 2023-01-03, dtype: float64,
 'EA': 156    121.705978
 Name: 2023-01-03, dtype: float64,
 'DDOG': 157    72.089996
 Name: 2023-01-03, dtype: float64,
 'HSY': 158    217.894821
 Name: 2023-01-03, dtype: float64,
 'AME': 159    139.142029
 Name: 2023-01-03, dtype: float64,
 'GEHC': 161    55.870144
 Name: 2023-01-03, dtype: float64,
 'KR': 164    42.667469
 Name: 2023-01-03, dtype: float64,
 'CTSH': 165    55.919815
 Name: 2023-01-03, dtype: float64,
 'EXC': 166    40.394791
 Name: 2023-01-03, dtype: float64,
 'IR': 168    52.898178
 Name: 2023-01-03, dtype: float64,
 'CBRE': 169    78.440002
 Name: 2023-01-03, dtype: float64,
 'NUE': 170    128.569916
 Name: 2023-01-03, dtype: float64,
 'RMD': 171    205.622238
 Name: 2023-01-03, dtype: float64,
 'LULU': 172    323.380005
 Name: 2023-01-03, dtype: float64,
 'FANG': 174    119.767998
 Name: 2023-01-03, dtype: float64,
 'VICI': 175    29.290895
 Name: 2023-01-03, dtype: float64,
 'DFS': 179    92.731705
 Name: 2023-01-03, dtype: float64,
 'HIG': 180    72.888863
 Name: 2023-01-03, dtype: float64,
 'XYL': 181    108.735489
 Name: 2023-01-03, dtype: float64,
 'EIX': 183    60.179634
 Name: 2023-01-03, dtype: float64,
 'ON': 184    61.610001
 Name: 2023-01-03, dtype: float64,
 'SMCI': 185    83.860001
 Name: 2023-01-03, dtype: float64,
 'QSR': 188    61.5495
 Name: 2023-01-03, dtype: float64,
 'VRT': 190    13.284521
 Name: 2023-01-03, dtype: float64,
 'APP': 191    10.73
 Name: 2023-01-03, dtype: float64,
 'LVS': 193    48.299854
 Name: 2023-01-03, dtype: float64,
 'BIIB': 194    272.630005
 Name: 2023-01-03, dtype: float64,
 'DXCM': 197    114.730003
 Name: 2023-01-03, dtype: float64,
 'TSCO': 198    216.167206
 Name: 2023-01-03, dtype: float64,
 'VST': 199    21.526304
 Name: 2023-01-03, dtype: float64,
 'ARES': 200    65.24453
 Name: 2023-01-03, dtype: float64,
 'WAB': 201    98.729805
 Name: 2023-01-03, dtype: float64,
 'EBAY': 202    40.757694
 Name: 2023-01-03, dtype: float64,
 'FITB': 204    30.4736
 Name: 2023-01-03, dtype: float64,
 'GPN': 206    98.859352
 Name: 2023-01-03, dtype: float64,
 'HAL': 207    36.6283
 Name: 2023-01-03, dtype: float64,
 'EQR': 209    55.156891
 Name: 2023-01-03, dtype: float64,
 'PHM': 211    45.625103
 Name: 2023-01-03, dtype: float64,
 'NTAP': 214    58.184738
 Name: 2023-01-03, dtype: float64,
 'STT': 218    74.236092
 Name: 2023-01-03, dtype: float64,
 'FE': 222    39.026524
 Name: 2023-01-03, dtype: float64,
 'CHD': 223    80.36689
 Name: 2023-01-03, dtype: float64,
 'FSLR': 224    145.940002
 Name: 2023-01-03, dtype: float64,
 'RJF': 225    103.595207
 Name: 2023-01-03, dtype: float64,
 'TROW': 226    102.08577
 Name: 2023-01-03, dtype: float64,
 'ROL': 227    35.683968
 Name: 2023-01-03, dtype: float64,
 'ZBH': 228    125.78331
 Name: 2023-01-03, dtype: float64,
 'WY': 229    28.83395
 Name: 2023-01-03, dtype: float64,
 'ZM': 230    66.660004
 Name: 2023-01-03, dtype: float64,
 'WRB': 231    46.613102
 Name: 2023-01-03, dtype: float64,
 'TER': 232    85.38195
 Name: 2023-01-03, dtype: float64,
 'PINS': 234    22.889999
 Name: 2023-01-03, dtype: float64,
 'MKC': 236    80.780144
 Name: 2023-01-03, dtype: float64,
 'HBAN': 237    13.026439
 Name: 2023-01-03, dtype: float64,
 'RF': 238    19.948418
 Name: 2023-01-03, dtype: float64,
 'BLDR': 239    65.349998
 Name: 2023-01-03, dtype: float64,
 'PSTG': 241    27.15
 Name: 2023-01-03, dtype: float64,
 'BALL': 244    50.898388
 Name: 2023-01-03, dtype: float64,
 'CLX': 245    134.246613
 Name: 2023-01-03, dtype: float64,
 'SYF': 247    30.883549
 Name: 2023-01-03, dtype: float64,
 'APTV': 249    92.949997
 Name: 2023-01-03, dtype: float64,
 'STLD': 250    93.078201
 Name: 2023-01-03, dtype: float64,
 'DRI': 252    131.819229
 Name: 2023-01-03, dtype: float64,
 'PFG': 253    79.429047
 Name: 2023-01-03, dtype: float64,
 'SSNC': 255    51.259937
 Name: 2023-01-03, dtype: float64,
 'NTRS': 256    84.920532
 Name: 2023-01-03, dtype: float64,
 'CTRA': 257    21.642504
 Name: 2023-01-03, dtype: float64,
 'WSM': 262    54.884438
 Name: 2023-01-03, dtype: float64,
 'AVTR': 263    21.17
 Name: 2023-01-03, dtype: float64,
 'SWKS': 265    86.454185
 Name: 2023-01-03, dtype: float64,
 'CRBG': 267    17.064011
 Name: 2023-01-03, dtype: float64,
 'RPRX': 269    37.556858
 Name: 2023-01-03, dtype: float64,
 'RYAN': 270    41.342293
 Name: 2023-01-03, dtype: float64,
 'ENPH': 271    253.309998
 Name: 2023-01-03, dtype: float64,
 'GEN': 272    20.736074
 Name: 2023-01-03, dtype: float64,
 'AMCR': 273    11.050792
 Name: 2023-01-03, dtype: float64,
 'MRO': 274    24.904566
 Name: 2023-01-03, dtype: float64,
 'KEY': 275    15.793633
 Name: 2023-01-03, dtype: float64,
 'THC': 276    48.98
 Name: 2023-01-03, dtype: float64,
 'BSY': 277    36.485298
 Name: 2023-01-03, dtype: float64,
 'AKAM': 278    84.970001
 Name: 2023-01-03, dtype: float64,
 'WMG': 279    34.032539
 Name: 2023-01-03, dtype: float64,
 'CPB': 281    53.166031
 Name: 2023-01-03, dtype: float64,
 'DT': 282    38.349998
 Name: 2023-01-03, dtype: float64,
 'TOL': 285    49.628895
 Name: 2023-01-03, dtype: float64,
 'WES': 287    22.006371
 Name: 2023-01-03, dtype: float64,
 'PNR': 289    44.105907
 Name: 2023-01-03, dtype: float64,
 'GLPI': 291    46.46883
 Name: 2023-01-03, dtype: float64,
 'TRMB': 294    50.599998
 Name: 2023-01-03, dtype: float64,
 'CAVA': 295   NaN
 Name: 2023-01-03, dtype: float64,
 'EQH': 297    27.225765
 Name: 2023-01-03, dtype: float64,
 'WPC': 299    69.781792
 Name: 2023-01-03, dtype: float64,
 'ELS': 301    61.556599
 Name: 2023-01-03, dtype: float64,
 'ALLY': 302    22.854792
 Name: 2023-01-03, dtype: float64,
 'REG': 303    58.90712
 Name: 2023-01-03, dtype: float64,
 'YUMC': 304    55.149254
 Name: 2023-01-03, dtype: float64,
 'SJM': 305    150.157578
 Name: 2023-01-03, dtype: float64,
 'FLEX': 306    16.247173
 Name: 2023-01-03, dtype: float64,
 'CNH': 308    15.0417
 Name: 2023-01-03, dtype: float64,
 'IPG': 311    31.902094
 Name: 2023-01-03, dtype: float64,
 'HST': 312    14.828039
 Name: 2023-01-03, dtype: float64,
 'JBL': 313    66.820213
 Name: 2023-01-03, dtype: float64,
 'CHRW': 314    86.583473
 Name: 2023-01-03, dtype: float64,
 'DOCU': 315    56.75
 Name: 2023-01-03, dtype: float64,
 'FND': 317    72.349998
 Name: 2023-01-03, dtype: float64,
 'PFGC': 318    56.889999
 Name: 2023-01-03, dtype: float64,
 'CUBE': 319    36.752731
 Name: 2023-01-03, dtype: float64,
 'PR': 321    8.136293
 Name: 2023-01-03, dtype: float64,
 'FTI': 322    11.424177
 Name: 2023-01-03, dtype: float64,
 'OVV': 323    45.145714
 Name: 2023-01-03, dtype: float64,
 'TAP': 326    47.35178
 Name: 2023-01-03, dtype: float64,
 'CHWY': 327    35.459999
 Name: 2023-01-03, dtype: float64,
 'NVT': 329    37.180691
 Name: 2023-01-03, dtype: float64,
 'ESTC': 330    50.16
 Name: 2023-01-03, dtype: float64,
 'BEN': 334    25.262028
 Name: 2023-01-03, dtype: float64,
 'SKX': 335    41.830002
 Name: 2023-01-03, dtype: float64,
 'CNM': 338    19.540001
 Name: 2023-01-03, dtype: float64,
 'SFM': 339    30.92
 Name: 2023-01-03, dtype: float64,
 'UNM': 340    38.132809
 Name: 2023-01-03, dtype: float64,
 'OHI': 341    24.027588
 Name: 2023-01-03, dtype: float64}

In [40]:
portfolio_one_prices['WFC'] * float(3)

2    119.117455
Name: 2023-01-03, dtype: float64

In [6]:
principal = 10000
num_stocks = len(current_prices)
amount_per =  principal/num_stocks

In [7]:
num_stocks = {ticker: 0 for ticker in tickers}
for key in num_stocks:
    num_stocks[key] = current_prices[key] / amount_per